@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="box-content">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#info">Info</a></li>
            <li><a href="#custom">Custom</a></li>
            <li><a href="#messages">Messages</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="info">
                <h3>
                    Charisma
                    <small>a full featured template</small>
                </h3>
                <p>
                    Its a full featured, responsive template for your admin panel. It is optimized for tablets
                    and mobile phones.
                </p>
                <p>Check how it looks on different devices:</p>
                <a href="http://www.responsinator.com/?url=usman.it%2Fthemes%2Fcharisma" target="_blank"><strong>Preview on iPhone size.</strong></a>
                <br>
                <a href="http://www.responsinator.com/?url=usman.it%2Fthemes%2Fcharisma" target="_blank"><strong>Preview on iPad size.</strong></a>
            </div>
            <div class="tab-pane" id="custom">
                <h3>
                    Custom
                    <small>small text</small>
                </h3>
                <p>Sample paragraph.</p>
                <p>Your custom text.</p>
            </div>
            <div class="tab-pane" id="messages">
                <h3>
                    Messages
                    <small>small text</small>
                </h3>
                <p>Sample paragraph.</p>
                <p>Your custom text.</p>


            </div>
        </div>
    </div>
    <section>
        <article>
            <iframe src="../Test/Index" seamless></iframe>
        </article>
    </section>
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-list-alt"></i> Chart with points</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="sincos" class="center" style="height:300px"></div>
                <p id="hoverdata">Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div>
    @RenderPage("~/Views/Statement/About.cshtml")
</div>
